@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --card-bg: #f0f0f0;
  --card-text: black;
  --border-color: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --card-bg: #1a1a1a;
  --card-text: white;
  --border-color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto";
}


.job-list-grid {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
}

/* Job Card */
.job-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  gap: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  background: white;
  color: black;
  border-radius: 10px;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo {
  width: 100px; 
  height: auto;
  align-self: flex-end;
}

/* Title Section */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
}

/* Position */
.position {
  text-decoration: underline;
  font-size: 1.6rem; 
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .job-card {
    padding: 1rem;
    font-size: 1rem;
  }

  .position {
    font-size: 1.4rem;
  }
}


